* {
  font-family: Helvetica;
}
body {
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 400px;
  margin: 0;
  background-image: url('bgimg.jpg');
  background-size: cover;
  background-position: top;
}
.icon {
  width: 100px;
  height: 100px;
  margin-top: 15px;
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #f7f6f4;

}
.links {
  display: flex;
  flex-direction: column;
  padding: 8px;
}
a {
  text-decoration: none;
  color: #3a3a3a;
  padding: 12px;
  font-size: 20px;
}
/* ------------------------------------------- */
main {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 55px;
  background: #3a3a3a;
  font-size: 30px;
}
.greet {
  color: white;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f7f6f4;
  width: 100%;
  margin: 0;
}
.photowords {
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.featured {
  font-size: 18px;
  color: #3a3a3a;
  text-align: center;
}
.connect {
  text-align: center;
  border: 2px solid #3a3a3a;
}
.section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-image: url('dev.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  margin: 0;

  /* -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH"; */
}
.section2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-image: url('create.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  margin: 0;
}
.section3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-image: url('moab.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  margin: 0;
}
.title {
  background: #617373;
  margin: 0;
  padding: 1em 2em;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
.title2 {
  background: #99a1b0;
  margin: 0;
  padding: 1em 2em;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}

/* photography --------------------------- */
.title3 {
  background: #ae7561;
  margin: 0;
  padding: 1em 2em;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  margin: 0;
  background: #262626;
}
.pic {
  width: 400px;
  height: auto;
  margin: 0;
}
/* CLIENTS -------------------------------------- */
.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0;
}
.logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  justify-content: center;
}
.logo {
  padding: 10px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #b2ad4c;
}
.logo:hover {
  background: #c6c15b;
  color: #3a3a3a;
}
h2 {
  padding: 30px;
  text-align: center;
  background: #747a5d;
  margin: 0;
  color: white;
  font-size: 18px;
  font-weight: normal;
}

/* ------------------------------------------- */
@media screen and (min-width: 865px) {
  .header {
    height: 550px;
  }
  .icon {
    width: 140px;
    height: 140px;
    padding: 1em 3em;
  }
  .welcome {
    height: 172px;
    padding: 10;
  }
  .section {
    height: 350px;
  }
  .section2 {
    height: 350px;
  }
  .section3 {
    height: 350px;
  }
  .title {
    font-size: 25px;
  }
  .title2 {
    font-size: 25px;
  }
  .title3 {
    font-size: 25px;
  }
}

@media screen and (max-width: 760px) {
  .icon {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 512px) {
  .icon {
    width: 100px;
    height: 100px;
  }
  .icons {
    flex-direction: column;
  }
  .section {
    flex-direction: column;
    height: 400px;
  }
  .section2 {
    flex-direction: column;
    height: 400px;
  }
  .section3 {
    flex-direction: column;
    height: 400px;
  }
  .title {
    height: 100%;
  }
  .title2 {
    height: 100%;
  }
  .title3 {
    height: 100%;
  }
}

/* photography------------------------------ */
@media screen and (max-width: 825px) {
  .pic {
    width: 300px;
  }
}
@media screen and (max-width: 625px) {
  .pic {
    width: 100%;
  }
}

/* JS button ----------------------------------- */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 15px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(255, 255, 255, .5); /* Set a background color */
    color: #3a3a3a; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 100%; /* Rounded corners */
    font-size: 13px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
    color: white;
}

/* social --------------------------------- */
.social {
  display: flex;
  flex-direction: row;
}
.fa {
    padding: 5px;
    margin: 0 1px;
    font-size: 12px;
    width: 30px;
    text-align: center;
    text-decoration: none;
}
.fa-twitter {
    background: #3a3a3a;
    color: white;
}
.fa-linkedin {
  background: #3a3a3a;
  color: white;
}
.fa-behance {
  background: #3a3a3a;
  color: white;
}
