* {
  font-family: Helvetica;
}
body {
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 400px;
  margin: 0;
  background-image: url('bgimg.jpg');
  background-size: cover;
  background-position: top;
}
.logo {
  width: 100px;
  height: 100px;
  margin: 23px;
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: #393939;
  padding: 13px;
}
a {
  text-decoration: none;
  color: white;
  padding: 12px;
  font-size: 20px;
}
/* ------------------------------------------- */
main {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 55px;
  background: #f7f6f4;
  font-size: 25px;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 35px;
  background: #8ee5b1;
}
.icon {
  width: 130px;
  height: 130px;
  padding: 1em 4em;
}
/* ------------------------------------------- */
@media screen and (min-width: 865px) {
  .header {
    height: 550px;
  }
  .icon {
    width: 140px;
    height: 140px;
    padding: 1em 5em;
  }
}
@media screen and (max-width: 760px) {
  .icon {
    width: 110px;
    height: 110px;
    padding: 1em 2em;
  }
}
@media screen and (max-width: 512px) {
  .icon {
    width: 150px;
    height: 150px;
  }
  .icons {
    flex-direction: column;
  }
}
