* {
  font-family: Helvetica;
}
body {
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 400px;
  margin: 0;
  background-image: url('bgimg.jpg');
  background-size: cover;
  background-position: top;
}
.logo {
  width: 100px;
  height: 100px;
  margin-top: 15px;
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #393939;

}
.links {
  display: flex;
  flex-direction: column;
  padding: 13px;
}
a {
  text-decoration: none;
  color: white;
  padding: 12px;
  font-size: 20px;
}
/* ------------------------------------------- */
main {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 55px;
  background: #f7f6f4;
  font-size: 30px;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 35px;
  background: #8ee5b1;
}
.icon {
  width: 130px;
  height: 130px;
  padding: 1em 4em;
}
.section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-image: url('moab.jpg');
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 300px;
  margin: 0;
}
.testi {
  background: #ff5151;
  margin: 0;
  padding: 1em 2em;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
/* ------------------------------------------- */
@media screen and (min-width: 865px) {
  .header {
    height: 550px;
  }
  .icon {
    width: 140px;
    height: 140px;
    padding: 1em 5em;
  }
  .welcome {
    height: 172px;
    padding: 10;
  }
  .section {
    height: 350px;
  }
  .testi {
    font-size: 25px;
  }
}

@media screen and (max-width: 760px) {
  .icon {
    width: 110px;
    height: 110px;
    padding: 1em 2em;
  }
}
@media screen and (max-width: 512px) {
  .icon {
    width: 150px;
    height: 150px;
  }
  .icons {
    flex-direction: column;
  }
  .section {
    flex-direction: column;
    height: 400px;
  }
  .testi {
    height: 100%;
  }
}
