* {
  font-family: Helvetica;
  color: #3a3a3a;
}
body, html {
  margin: 0;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 400px;
  margin: 0;
  background-image: url('bgimg.jpg');
  background-size: cover;
  background-position: top;
}
.icon {
  width: 100px;
  height: 100px;
  margin-top: 15px;
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #393939;

}
.links {
  display: flex;
  flex-direction: column;
  padding: 13px;

}
.link {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 20px;
}
.linkpg {
  text-decoration: none;
  color: #8ee5b1;
  padding: 10px;
  font-size: 20px;
}
/* ----------------------------------------- */
.welcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0;

}
.text {
  padding: 3px;
  text-align: center;
  background: #ff5151;
  margin-top: 0;
  color: #e54242;
  font-size: 45px;
  font-weight: bold
}
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  margin: 0;
}
.pic {
  width: 400px;
  height: auto;
  margin: 0;
}
/* ----------------------------------------- */
.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0;
}
.logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  justify-content: center;
}
.logo {
  padding: 10px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #8ee5b1;
}
.logo:hover {
  background: #3a3a3a;
  color: white;
}
h2 {
  padding: 30px;
  text-align: center;
  background: #ff5151;
  margin-top: 25px;
  color: white;
  font-size: 18px;
  font-weight: normal;
}

/* ----------------------------------------- */
@media screen and (max-width: 825px) {
  .pic {
    width: 300px;
  }
}
@media screen and (max-width: 625px) {
  .pic {
    width: 100%;
  }
}
